app/
auth.json.sample
bin/
CHANGELOG.md
COPYING.txt
dev/
.editorconfig
generated/
.git
grunt-config.json.sample
Gruntfile.js.sample
.htaccess
.htaccess.sample
lib/
LICENSE_AFL.txt
LICENSE.txt
nginx.conf.sample
package.json.sample
.php_cs.dist
phpserver/
pub/
SECURITY.md
setup/

.user.ini
var/
vendor/

tests/_output
tests/_support/_generated